* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	// font-size: 62.5%;
}

html,
body {
	position: relative;
	font-size: 12px;
	font-family: 'Lexend', serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section {
	padding: 4rem 0;
}

// .info-title {
// 	padding: 4rem 0;
// }

.section-title {
	margin: 0 auto;
	padding-bottom: 2rem;
	font-family: 'Michroma', sans-serif;
	font-size: 2.4rem;
	text-align: center;
	color: #e3e3e3;
	width: fit-content;
}

.sticky-body {
	overflow: hidden;
}

.desktop {
	display: none;
}

.logo {
	padding: 1rem;
	letter-spacing: normal;
	text-decoration: none;
	color: #000;
	// background: #ffffff36;
	background: #b8babe;

	border-radius: 6px;
	z-index: 1000;
	// -webkit-text-stroke: 1px #2ed3c6;
}

// .nav-overlay {
// 	border-image: fill 0 linear-gradient(#2ed3c548, transparent);
// 	position: fixed;
// 	// inset: 0;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100px;
// 	z-index: 10;
// 	// z-index: 1;
// }

nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	place-self: center;
	width: 100%;
	padding: 1rem;
	font-weight: bold;
	z-index: 100;
}

.nav-links {
	display: none;
}

.mobile-nav {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #e3e3e3;
	background-color: black;
	transform: translateX(-102%);
	transition: transform 0.3s;
	z-index: 100;
	&--active {
		transform: translateX(0);
	}
	& li {
		list-style: none;
		margin: 2rem 0;
		& a {
			text-decoration: none;
			letter-spacing: 2px;
			color: #000;
			color: #e3e3e3;
			font-size: 1.2rem;
			cursor: pointer;
		}
	}
}

.hamburger {
	padding: 0.5rem 1rem;
	z-index: 1000;
	background: #ffffff36;
	background: #b8babe;
	border-radius: 6px;
}

.hero {
	min-height: 100svh;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	font-family: 'Lexend', serif;
	background: #e3e3e3;
	background: #b8babe;
	background: #e2e2e2;
	background: #f2f2f2;
	// background: #f7f7f7;
	background: #f2f0ed;
}

.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Filtr SVG generujący szum */
	filter: url(#grainy-noise);
	/* Subtelna przezroczystość - klucz do efektu Premium */
	opacity: 0.25;
	opacity: 0.15;
	opacity: 0.1;
	// opacity: 0.4;
	/* Zabezpieczenie przed interakcją myszy */
	pointer-events: none;
	mix-blend-mode: overlay; /* Kluczowe: szum miesza się z gradientem, nie przykrywa go */
	mix-blend-mode: multiply; /* Kluczowe: szum miesza się z gradientem, nie przykrywa go */
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 400px;
}

// .hero-overlay {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	// background-image: url('/dist/img/myvs.jpg');
// 	background-image: url('/dist/img/vscodebig.jpg');
// 	background-size: cover;
// 	background-position: center;
// 	opacity: 0.12;
// 	filter: blur(4px);
// 	// z-index: 1;
// }

.hero-cta {
	// background-image: url('/dist/img/lightningsmall.mp4');
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1200px;
	padding: 2rem;
	// gap: 2rem;
	bottom: 4rem;
}

.hero-cta a {
	padding: 1rem 2rem;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 2px;
	border: #000 2px solid;
	border-radius: 6px;
	// background: #000;
	// background: #111111;
	// background: linear-gradient(135deg, #092b27 0%, #041815 40%, #000000 100%);

	color: #000;
	// color: #fff;
	cursor: pointer;
}

#item-5 {
	display: none;
}

#subheader {
	width: 100%;
	padding: 0 2em 0;
	text-align: center;
	letter-spacing: 2px;
	// font-size: 12px;
	font-size: 1.4rem;
	font-weight: 300;
	color: #000;
}

.placeholder {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.8rem;
	// font-size: 80px;
	color: #000;
	line-height: 2.25;
	font-family: 'Michroma', serif;
}

// cookies
.hide {
	display: none;
}
.cookie-box {
	font-family: 'Lexend', serif;
	position: fixed;
	bottom: 0;
	padding: 2em;
	width: 100%;
	height: 300px;
	text-align: center;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.34217436974789917) 0%, rgba(255, 255, 255, 1) 20%);
	opacity: 0;
	transform: translateY(100%);
	animation: show-cookies 0.5s 0.5s forwards;
}
.cookie-box p {
	font-size: 2rem;
}
.cookie-btn {
	margin-top: 1em;
	padding: 0.5em 1em;
	font-size: 1.6rem;
	border: 4px solid #000;
	border-radius: 4px;
	color: #fff;
	background-color: #000;
	transition: background-color 0.4s, color 0.4s;
	cursor: pointer;
}
.cookie-btn:hover {
	background-color: #fff;
	color: #000;
}
@keyframes show-cookies {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

// about us section
#about-us {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// border-top: 1px solid #ffffff;
	// background: #000;
	// background: linear-gradient(135deg, #092b27 0%, #041815 40%, #000000 100%);
	// background: #0a1a12;
	background: radial-gradient(circle at top center, #092b27 0%, #000000 65%);
	overflow: hidden;
}

#about-us::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Filtr SVG generujący szum */
	filter: url(#grainy-noise);
	/* Subtelna przezroczystość - klucz do efektu Premium */
	opacity: 0.25;
	// opacity: 0.4;
	/* Zabezpieczenie przed interakcją myszy */
	pointer-events: none;
	mix-blend-mode: overlay; /* Kluczowe: szum miesza się z gradientem, nie przykrywa go */
}

.about-us-box {
	// border: red 2px solid;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	gap: 2rem;
}

.about-us-img {
	width: 100%;
	// height: auto;
	// object-fit: cover;
	.desktop-img {
		display: none;
	}
	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 6px;
	}
}

.about-us-text {
	// border: red 2px solid;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	color: #e3e3e3;
	font-size: 1.4rem;
	line-height: 1.8;
	font-weight: 300;
}
.text-title {
	text-align: left;
	letter-spacing: 1px;
	color: #fff;
}
.text-box {
	text-align: left;
	text-wrap: pretty;
	// letter-spacing: 1px;
	// color: #e3e3e3;
	color: #b8babe;
}

// services section
#services {
	font-size: 1.4rem;
	line-height: 1.8;
	background: #e3e3e3;
	background: #b8babe;

	.section-title {
		color: #000;
	}
	.card-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		padding: 0 1rem;
	}
	.card {
		padding: 2rem;
		text-align: center;
		border-radius: 6px;
		background: #fff;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s, box-shadow 0.3s;
		cursor: pointer;
		&:hover {
			transform: translateY(-10px);
			box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
		}
		i {
			font-size: 3rem;
			margin-bottom: 1rem;
			color: #b8babe;
			// color: #1FB7AC;
			// background: #2ed3c6;
		}
	}
}

#whyme {
	font-size: 1.4rem;
	line-height: 1.8;
	background: #e3e3e3;
	// background: #fff;
	// background: #000;

	.section-title {
		color: #000;
		// color: #e3e3e3;
	}
	.card-box {
		padding: 0 1rem;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
	}
	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// padding: 2rem;
		text-align: center;
		// border: #b8babe 2px solid;
		border-radius: 6px;
		background: #000;
		background: #fff;
		// background: #1AA6A0;

		color: #e3e3e3;
		color: #000;
		// color: #2ED3C6;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s, box-shadow 0.3s;
		cursor: pointer;
		overflow: hidden;
		&:hover {
			transform: translateY(-10px);
			box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
			// z-index: 1;
		}
		i {
			font-size: 3rem;
			margin-bottom: 1rem;
			color: #b8babe;
		}
		.overlay {
			height: 200px;
			width: 100%;
			background-size: cover;
			background-position: center top;
			animation: overview ease-in 16s infinite alternate;
		}

		.overlay-item-1 {
			background-image: url('/dist/img/desktop.png');
		}
		.overlay-item-2 {
			background-image: url('/dist/img/kwocziart.png');
			animation-duration: 14s;
		}
		.overlay-item-3 {
			background-image: url('/dist/img/vscode.jpg');
		}
		.overlay-item-4 {
			background-image: url('/dist/img/seo.png');
		}

		h4 {
			padding: 2rem;
		}
	}
}

.timeline-img {
	display: none;
}

@keyframes overview {
	0% {
		background-position: center top;
	}
	100% {
		background-position: center bottom;
	}
}

.process {
	background: #000;
	background: radial-gradient(circle at top center, #092b27 0%, #000000 65%);
	color: #e3e3e3;
}

.timeline {
	position: relative;
	padding: 0 1rem;
	max-width: 800px;
}

.timeline::before {
	content: '';
	position: absolute;
	left: calc(1rem + 21px);
	top: 0;
	top: 1rem;
	width: 2px;
	height: 90%;
	background: #2ed3c541;
}

.timeline-item {
	position: relative;
	// padding-left: 70px;
	padding: 1rem 6rem;
	margin-bottom: 3rem;
	border-radius: 6px;
	opacity: 0;
	transform: translateY(30px);
	transition: all 0.6s ease;
}

.timeline-item:last-child {
	margin-bottom: 0;
}

.timeline-item.show {
	opacity: 1;
	transform: translateY(0);
}

.icon {
	position: absolute;
	left: 0;
	top: 0;
	top: 1rem;
	width: 44px;
	height: 44px;
	background: #b8babe;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 18px;
	transition: 0.3s ease;
}

.timeline-item h3 {
	font-size: 1.4rem;
	margin-bottom: 8px;
	// margin-bottom: 0.8rem;
}

.timeline-item p {
	color: #b8babe;
	line-height: 1.6;
	font-size: 1.2rem;
}

/* Hover effect */
.timeline-item:hover {
	background: linear-gradient(135deg, #092b27 0%, #041815 40%, #00000000 100%);
	.icon {
		background: #2ed3c6;
	}
}

.offer {
	font-size: 1.4rem;
	line-height: 1.8;
	background: #e3e3e3;
	// background: #b8babe;
	background: #fff;

	.section-title {
		color: #000;
	}
}

.info-title p {
	margin-bottom: 2rem;
	font-size: 1.8rem;
	text-align: center;
}

.offer-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;
	padding: 0 1rem;
	font-weight: 300;
}

.offer-card {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 4rem 2rem;
	border: 1px solid #2ed3c6;
	border-radius: 6px;
	background: #fff;
	// background: #e3e3e3;
	// background: #2ed3c52a;

	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;

	&:hover {
		transform: translateY(-10px);
		box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
	}
}

.offer-card h3 {
	text-align: center;
	font-size: 1.8rem;
}
.offer-card h4 {
	text-align: center;
}

.offer-card ul {
	list-style: none;
}

.offer-card li {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.4rem;
	font-weight: 300;
	margin-bottom: 10px;
	border-bottom: 1px solid #2ed3c577;
	i {
		color: #2ed3c6;
		font-size: 1.8rem;
	}
}

// .offer-card.purple {
// 	border-top: 4px solid #8b5cf6;
// }
// .offer-card.blue {
// 	border-top: 4px solid #3b82f6;
// }
// .offer-card.dark {
// 	border-top: 4px solid #111827;
// }

.offer-footer {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	// align-items: center;
	gap: 1rem;
	width: 100%;
	padding: 0 1rem;
	// text-align: center;
	// text-align-last: left;
	margin-top: 60px;
	font-weight: 300;
}

.pricing-note {
	// margin-bottom: 20px;
	max-width: 70ch;
	font-size: 1.4rem;
	font-style: italic;
	text-wrap: pretty;
	color: #c7c7d6;
	color: #000;
}

.cta-button {
	place-self: center;
	// display: inline-block;
	padding: 1rem 2rem;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	border-radius: 6px;
	// background: #000;
	// background: radial-gradient(circle at top center, #092b27 0%, #000000 65%);
	// background: linear-gradient(135deg, #092b27 0%, #041815 40%, #000000 100%);
	background: #2ed3c6;
	background: #092b27;

	color: #fff;
	// transition: transform 0.3s ease, box-shadow 0.3s ease;
}

// .cta-button:hover {
// 	// transform: scale(1.05);
// 	// box-shadow: 0 10px 30px rgba(139, 92, 246, 0.5);
// }

// contact
.contact {
	background: #000;
	// background: linear-gradient(135deg, #092b27 0%, #041815 40%, #000000 100%);
	background: radial-gradient(circle at top center, #092b27 0%, #000000 65%);
	color: #e3e3e3;
}

.contact .info-title .section-subtitle {
	padding: 0 1rem;
}

.contact-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding: 0 1rem;
	gap: 4rem;
}

.contact-media {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;
}

.contact-info {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 2rem 1rem;
	border-radius: 6px;
	font-size: 1.4rem;
	// background: linear-gradient(135deg, #092b27 0%, #041815 40%, #000000 100%);

	p {
		color: #e3e3e3;
	}

	a {
		text-decoration: none;
		color: #e3e3e3;
	}

	.contact-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		// background: #e3e3e3;
		background: #b8babe;
		color: #000;
		border-radius: 50%;
		transition: 0.4s ease;

		i {
			font-size: 1.6rem;
		}
	}
}

.contact-info:hover {
	.contact-icon {
		background: #2ed3c6;
	}
}

.form-box {
	width: 100%;

	.contact-form {
		display: flex;
		flex-direction: column;
		// margin-bottom: 2.4rem;
		gap: 1.6rem;
		// padding: 1rem;
		max-width: 600px;
		// background-color: transparent;
	}

	.contact-box {
		display: flex;
		flex-direction: column;
		// gap: 2rem;
		// margin: 40px 0;
		// margin: 2.4rem 0;
	}

	.contact-form label {
		// color: #43baff;
		color: #b8babe;
		font-size: 1.2rem;
		// font-weight: normal;
		// margin-bottom: 10px;
		margin-left: 1rem;
		margin-bottom: 0.4rem;
	}

	.contact-form input,
	.contact-form textarea,
	.contact-form button {
		line-height: 1.8;
		color: #e3e3e3;
		padding: 1rem;
		font-size: 1.4rem;
		background-color: transparent;
		border: none;
		outline: 2px solid #2ed3c577;
		border-radius: 6px;
		// box-shadow: 0 5px 25px rgba(49, 162, 238, 0.2);
	}

	.contact-form textarea {
		resize: vertical;
		min-height: 150px;
		// box-shadow: 0 5px 25px rgba(49, 162, 238, 0.2);
	}

	input:focus,
	textarea:focus {
		outline: 2px solid #2ed3c6;
		// box-shadow: 0 5px 25px rgba(49, 162, 238, 0.795);
	}

	.contact-form button {
		width: 100%;
		// background-color: rgb(67, 186, 255);
		background: #2ed3c6;
		// padding: 15px 0;
		padding: 1rem 0;
		font-size: 1.4rem;
		font-weight: bold;
		letter-spacing: 1px;
		color: #000;
		cursor: pointer;
		transition: 0.3s;
		// box-shadow: 0 5px 25px rgba(49, 162, 238, 0.2);
	}

	.contact-form button:hover {
		color: #2ed3c6;
		background-color: black;
		// outline: 2px solid #2ed3c6;
		// box-shadow: 0 5px 25px rgba(49, 162, 238, 0.795);
	}

	.msg-status {
		display: none;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 150px;
		padding: 30px;
		max-width: 600px;
		font-size: 24px;
	}

	.success {
		display: flex;
		background-color: hsl(143, 83%, 55%);
	}

	.error {
		display: flex;
		background-color: hsl(9, 100%, 64%);
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus input:-webkit-autofill,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		-webkit-text-fill-color: #fff;
		transition: background-color 5000s ease-in-out 0s;
	}
}

.contact-note {
	p {
		padding: 2rem 1rem;
		font-size: 1.4rem;
		text-align: center;
		color: #b8babe;
	}
}

// footer
.footer {
	// padding: 80px 24px 32px;
	font-size: 1.4rem;
	background: #000000;
	// background: radial-gradient(circle at bottom left, #092b27 0%, #000000 65%);
	// background: linear-gradient(0deg, #092b27 0%, #041815 40%, #000000 100%);
	// border-top: 2px solid #2ed3c527;
	// background: #e3e3e3;

	// color: #e5e7eb;
	// font-family: Inter, sans-serif;
	font-weight: 300;
}

.footer-container {
	padding: 0 1rem 2rem;
	// max-width: 1200px;
	// margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(1 1fr);
	gap: 2rem;
	// letter-spacing: 1px;
	// gap: 48px;
}

.footer h3,
.footer h4 {
	color: #b8babe;
	// margin-bottom: 12px;
	margin-bottom: 1rem;
}

.footer p {
	color: #e3e3e3;
	line-height: 1.6;
}

.footer a {
	color: #e3e3e3;
	text-decoration: none;
	transition: color 0.2s ease;
}

.footer a:hover {
	color: #2ed3c6;
}

.footer-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-nav li {
	// margin-bottom: 8px;
	margin-bottom: 0.8rem;
}

.footer-contact a {
	display: block;
	// margin-bottom: 12px;
	margin-bottom: 1rem;
}

// .footer-socials {
// 	display: flex;
// 	gap: 16px;
// 	margin-top: 8px;
// }

.footer-bottom {
	// max-width: 1200px;
	// margin: 48px auto 0;
	// padding-top: 24px;
	padding: 2rem 1rem 0;
	border-top: 1px solid #2ed3c577;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	// font-size: 14px;
	font-size: 1.2rem;
	color: #b8babe;
	font-family: 'Michroma', sans-serif;
}

.to-top {
	background: none;
	border: 1px solid #b8babe;
	color: #b8babe;
	border-radius: 6px;
	// border-radius: 50%;
	// padding: 6px 10px;
	padding: 1rem 1.4rem;
	cursor: pointer;
	transition: color 0.2s ease, background 0.2s ease, transform 0.2s ease;
}

.to-top:hover {
	color: #000;
	background: #2ed3c6;
	transform: translateY(-2px);
}

/* Mobile */
// @media (max-width: 600px) {
// 	.footer-bottom {
// 		flex-direction: column;
// 		gap: 12px;
// 	}
// }

// @media (min-width: 375px) {
// 	#whyme .card-box {
// 		grid-template-columns: repeat(2, 1fr);
// 	}
// }

@media (min-width: 768px) {
	.about-us-box {
		flex-direction: row;
		gap: 4rem;
	}
	.about-us-img {
		width: 40%;
	}
	.about-us-text {
		width: 60%;
	}
	.offer-grid {
		// display: grid;
		grid-template-columns: repeat(3, 1fr);
		// gap: 2rem;
		// padding: 0;
	}
}

@media (min-width: 1024px) {
	.section {
		padding: 4rem 1rem;
	}

	nav {
		padding: 2rem 0;
	}

	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}

	.logo {
		padding: 0.5rem 1rem;

		font-size: 1.2rem;
		line-height: 1.6;
		background: #b8babe;
		border: 1px solid #000;
		// transition: box-shadow 0.4s;
		transition: color 0.4s, background 0.4s;
		// box-shadow: none;
		&:hover {
			background: #000;
			color: #fff;
			// -webkit-box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
			// -moz-box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
			// box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
		}
	}
	.nav-links {
		display: flex;
		padding: 0.5rem 2rem;
		background: #b8babe;
		background: #000;
		border: 1px solid #000;
		border-radius: 6px;
		gap: 6rem;
		transition: box-shadow 0.4s;
		box-shadow: none;
		& a {
			padding: 0.5rem 1rem;
			text-decoration: none;
			color: #000;
			letter-spacing: 2px;
			font-size: 1.2rem;
			line-height: 1.6;
			cursor: pointer;
			border-radius: 6px;
			background: #b8babe;
			transition: color 0.4s, background 0.4s;
		}
		& a:hover {
			color: #fff;
			background: #000;
		}
	}

	// .nav-links:has(.nav-link:hover) {
	// 	-webkit-box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
	// 	-moz-box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
	// 	box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
	// }

	/* DOMYŚLNIE hover WYŁĄCZONY */
	.logo:hover {
		background: #000;
	}

	.nav-links:has(.nav-link:hover) {
		box-shadow: none;
	}

	/* TYLKO gdy jesteś w hero */
	// body.in-hero {
	// 	.logo:hover {
	// 		-webkit-box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
	// 		-moz-box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
	// 		box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
	// 	}
	// 	.logo:hover + .nav-links {
	// 		-webkit-box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
	// 		-moz-box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
	// 		box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
	// 	}

	// 	.nav-links:has(.nav-link:hover) {
	// 		-webkit-box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
	// 		-moz-box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
	// 		box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
	// 	}
	// }

	.hamburger {
		display: none;
	}

	#item-5 {
		display: inline-block;
	}

	#item-5-mobile {
		display: none;
	}

	.hero-cta a {
		font-size: 1.6rem;
		font-weight: 300;
		background: #000;
		// color: #b8babe;
		color: #fff;
		transition: box-shadow 0.4s;
		&:hover {
			border: #b8babe 2px solid;
			// border: #D4AF37 2px solid;
			-webkit-box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
			-moz-box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
			box-shadow: 0px 4px 100px 44px rgba(0, 0, 0, 1);
		}
	}

	.about-us-img {
		display: flex;
		justify-content: center;
		align-items: center;

		.mobile-img {
			display: none;
		}

		.desktop-img {
			display: inline-block;
		}
	}

	.about-us-img img {
		width: 85%;
		place-self: center;
		z-index: 1;
	}

	.about-us-text {
		gap: 0.7rem;
	}

	.text-title {
		padding: 0 2rem;
	}

	.text-box {
		padding: 0.4rem 2rem;
		border-radius: 6px;
		transition: background 0.4s;
	}

	.text-box:hover {
		background: linear-gradient(135deg, #092b27 0%, #041815 40%, #00000000 100%);
	}

	#services .card:hover i {
		color: #2ed3c6;
	}

	#whyme .card-box {
		padding: 0;
		grid-template-columns: repeat(2, 1fr);
	}

	.timeline-item {
		width: 80%;
	}

	.timeline-item:hover {
		.icon {
			top: 1.2rem;
			// left: 1.2rem;
			left: -2rem;
			scale: 1.2;
		}
		scale: 1.2;
	}

	.process-box {
		display: grid;
		grid-template-columns: repeat(2, 80% 20%);
		perspective: 800px;
		// .timeline {
		// 	transform: rotate3d(0, 4, 0, 6deg);
		// }
		.timeline-img {
			// position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			// padding: 2rem;
			text-align: center;
			border: #b8babe 2px solid;
			border-radius: 6px;
			background: #e3e3e3;
			color: #000;
			overflow: hidden;
			// transform-origin: top left;
			transform: rotate3d(0, -4, 0, 10deg) translateX(-20%);
			// transform: rotateX(15deg) rotateY(-10deg) rotateZ(10deg);
		}

		h4 {
			padding: 1rem 2rem;
		}

		.overlay {
			background-image: url('/dist/img/kwocziart.png');
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center top;
			animation: overview ease-in 36s infinite alternate;
		}
	}

	.offer-grid {
		// display: grid;
		grid-template-columns: repeat(3, 1fr);
		// gap: 2rem;
		padding: 0;
	}

	.contact-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 0;
	}

	.contact-media {
		place-content: center;
	}

	.contact-info {
		background: none;
		transition: 0.4s ease;
		padding: 2rem;
		p {
			color: #e3e3e3;
		}
		.contact-icon {
			transition: 0.4s ease;

			i {
				font-size: 1.6rem;
			}
		}
	}

	.contact-info:hover {
		background: linear-gradient(135deg, #092b27 0%, #041815 40%, #00000000 100%);
		scale: 1.2;
		.contact-icon {
			background: #2ed3c6;
		}
	}

	.footer-container {
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		padding: 0 0 2rem;
	}

	.footer-bottom {
		flex-direction: row;
		padding: 2rem 0 0;
	}
}
