* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	// font-size: 62.5%;
}

html,
body {
	position: relative;
	// height: 100%;
	// width: 100%;
	// overflow: hidden;
	font-size: 12px;
	font-family: 'Lexend', serif;

	// background: #e3e3e300;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section {
	padding: 4rem 0;
}

// .info-title {
// 	padding: 4rem 0;
// }

.section-title {
	margin: 0 auto;
	padding-bottom: 2rem;
	font-family: 'Michroma', sans-serif;
	font-size: 2.4rem;
	color: #e3e3e3;
	width: fit-content;
}

.sticky-body {
	overflow: hidden;
}

.logo {
	padding: 1rem;
	letter-spacing: normal;
	text-decoration: none;
	color: #000;
	// background: #ffffff36;
	background: #b8babe;

	border-radius: 6px;
	z-index: 1000;
}

nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	place-self: center;
	width: 100%;
	padding: 1rem;
	font-weight: bold;
	z-index: 100;
}

.nav-links {
	display: none;
}

.mobile-nav {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #e3e3e3;
	background-color: black;
	transform: translateX(-102%);
	transition: transform 0.3s;
	z-index: 100;
	&--active {
		transform: translateX(0);
	}
	& li {
		list-style: none;
		margin: 2rem 0;
		& a {
			text-decoration: none;
			letter-spacing: 2px;
			color: #000;
			color: #e3e3e3;
			font-size: 1.2rem;
			cursor: pointer;
		}
	}
}

.hamburger {
	padding: 0.5rem 1rem;
	z-index: 1000;
	background: #ffffff36;
	background: #b8babe;
	border-radius: 6px;
}

.hero {
	min-height: 100svh;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	font-family: 'Lexend', serif;
	background: #e3e3e3;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 400px;
}

.hero-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-image: url('/dist/img/myvs.jpg');
	background-image: url('/dist/img/vscodebig.jpg');
	background-size: cover;
	background-position: center;
	opacity: 0.12;
	filter: blur(4px);
	// z-index: 1;
}

.hero-cta {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1200px;
	padding: 2rem;
	// gap: 2rem;
	bottom: 4rem;
}

.hero-cta a {
	padding: 1rem 2rem;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 2px;
	border: #000 2px solid;
	border-radius: 6px;
	color: #000;
	cursor: pointer;
}

#item-5 {
	display: none;
}

#subheader {
	width: 100%;
	padding: 0 2em 0;
	text-align: center;
	letter-spacing: 2px;
	// font-size: 12px;
	font-size: 1.4rem;
	font-weight: 300;
	color: #000;
}

.placeholder {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.8rem;
	// font-size: 80px;
	color: #000;
	line-height: 2.25;
	font-family: 'Michroma', serif;
}

// cookies
.hide {
	display: none;
}
.cookie-box {
	font-family: 'Lexend', serif;
	position: fixed;
	bottom: 0;
	padding: 2em;
	width: 100%;
	height: 300px;
	text-align: center;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.34217436974789917) 0%, rgba(255, 255, 255, 1) 20%);
	opacity: 0;
	transform: translateY(100%);
	animation: show-cookies 0.5s 0.5s forwards;
}
.cookie-box p {
	font-size: 2rem;
}
.cookie-btn {
	margin-top: 1em;
	padding: 0.5em 1em;
	font-size: 1.6rem;
	border: 4px solid #000;
	border-radius: 4px;
	color: #fff;
	background-color: #000;
	transition: background-color 0.4s, color 0.4s;
	cursor: pointer;
}
.cookie-btn:hover {
	background-color: #fff;
	color: #000;
}
@keyframes show-cookies {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

// about us section
#about-us {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// border-top: 1px solid #ffffff;
	background: #000;
}

.about-us-box {
	// border: red 2px solid;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	gap: 2rem;
}

.about-us-img {
	width: 100%;
	// height: auto;
	// object-fit: cover;
	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		border-radius: 6px;
	}
}

.about-us-text {
	// border: red 2px solid;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	color: #e3e3e3;
	font-size: 1.4rem;
	line-height: 1.8;
	font-weight: 300;
}
.text-title {
	text-align: left;
	letter-spacing: 1px;
	color: #fff;
}
.text-box {
	text-align: left;
	text-wrap: pretty;
	letter-spacing: 1px;
	color: #e3e3e3;
}

// services section
#services {
	font-size: 1.4rem;
	line-height: 1.8;
	background: #e3e3e3;

	.section-title {
		color: #000;
	}
	.card-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		padding: 0 1rem;
	}
	.card {
		padding: 2rem;
		text-align: center;
		border-radius: 6px;
		background: #fff;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s, box-shadow 0.3s;
		cursor: pointer;
		&:hover {
			transform: translateY(-10px);
			box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
		}
		i {
			font-size: 3rem;
			margin-bottom: 1rem;
			color: #b8babe;
		}
	}
}

#whyme {
	font-size: 1.4rem;
	line-height: 1.8;
	background: #e3e3e3;
	// background: #fff;
	// background: #000;

	.section-title {
		color: #000;
		// color: #e3e3e3;
	}
	.card-box {
		padding: 0 1rem;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
	}
	.card {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// padding: 2rem;
		text-align: center;
		// border: #b8babe 2px solid;
		border-radius: 6px;
		background: #000;
		background: #fff;
		color: #e3e3e3;
		color: #000;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s, box-shadow 0.3s;
		cursor: pointer;
		overflow: hidden;
		&:hover {
			transform: translateY(-10px);
			box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
			// z-index: 1;
		}
		i {
			font-size: 3rem;
			margin-bottom: 1rem;
			color: #b8babe;
		}
		.overlay {
			height: 200px;
			width: 100%;
			background-size: cover;
			background-position: center top;
			animation: overview ease-in 16s infinite alternate;
		}

		.overlay-item-1 {
			background-image: url('/dist/img/desktop.png');
		}
		.overlay-item-2 {
			background-image: url('/dist/img/kwocziart.png');
			animation-duration: 14s;
		}
		.overlay-item-3 {
			background-image: url('/dist/img/vscode.jpg');
		}
		.overlay-item-4 {
			background-image: url('/dist/img/seo.png');
		}

		h4 {
			padding: 2rem;
		}
	}
}

@keyframes overview {
	0% {
		background-position: center top;
	}
	100% {
		background-position: center bottom;
	}
}
// @media (min-width: 375px) {
// 	#whyme .card-box {
// 		grid-template-columns: repeat(2, 1fr);
// 	}
// }

@media (min-width: 768px) {
	.about-us-box {
		flex-direction: row;
		gap: 4rem;
	}
	.about-us-img,
	.about-us-text {
		width: 50%;
	}
	// #whyme .card-box {
	// 	grid-template-columns: repeat(4, 1fr);
	// }
}

@media (min-width: 1024px) {
	nav {
		padding: 2rem 0;
	}
	.logo {
		font-size: 1.2rem;
		line-height: 1.6;
		background: #b8babe;
		border: 1px solid #000;
	}
	.nav-links {
		display: flex;
		padding: 1rem 2rem;
		background: #b8babe;
		border: 1px solid #000;
		border-radius: 6px;
		gap: 6rem;
		& a {
			text-decoration: none;
			color: #000;
			letter-spacing: 2px;
			font-size: 1.2rem;
			line-height: 1.6;
			cursor: pointer;
		}
	}
	.hamburger {
		display: none;
	}

	#item-5 {
		display: inline-block;
	}

	#item-5-mobile {
		display: none;
	}

	.about-us-img {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.about-us-img img {
		width: 70%;

		place-self: center;
		z-index: 1;
	}

	#whyme .card-box {
		padding: 0;
		grid-template-columns: repeat(2, 1fr);
	}
}
